/* Background Image Styling */
.login-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .back{
    width: 700px;
    padding: 30px;
    border-radius: 10px;
    backdrop-filter: blur(10px); /* Glassmorphism effect */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    background: url('../../../../assets/images/login/oga_login.jpg') no-repeat center center/cover;
  }
  
  /* Centered Form Container */
  .login-container {
    width: 400px;
    padding: 30px;
    margin: auto;
    border-radius: 10px;
    background-color: rgb(239, 237, 237);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  /* Form Fields */
  .form-control {
    background: rgba(255, 255, 255, 0.8);
    border: none;
    padding: 12px;
    border-radius: 8px;
    font-size: 16px;
    color: black;
  }
  
  .form-control:focus {
    outline: none;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
  }
  
  /* Buttons */
  button {
    font-size: 18px;
    padding: 12px;
    border-radius: 5px;
    transition: background 0.3s ease;
  }
  
  .btn-primary {
    background-color: #E60000;
    border: none;
  }
  
  .btn-primary:hover {
    background-color: #E60000;
  }
  
  .btn-secondary {
    background-color: #E60000;
    color: white;
    border: 1px solid #fff;
  }
  
  .btn-secondary:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  
 h2,h4,label{
    color: black !important;
 }
  /* Responsive */
  @media (max-width: 480px) {
    .login-container {
      width: 90%;
      padding: 20px;
    }
  }
  