<footer class="footer">
  <div class="container">
    <div class="footer-sections">
      <div class="footer-column">
        <h4>Our Product</h4>
        <ul>
          <li><a href="#">Business Customers</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h4>About One4all</h4>
        <ul>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Gift Card T&Cs</a></li>
          <li><a href="#">Chip & Pin T&Cs</a></li>
          <li><a href="#">Competition T&Cs</a></li>
          <li><a href="#">Purchase T&Cs</a></li>
          <li><a href="#">Become a Retail Partner</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h4>Contact Us</h4>
        <p>Customer Service:<br> 0370 084 4444 | <a href="mailto:help@one4all.com">help@one4all.com</a></p>
        <p>Corporate Sales:<br> (0207) 608 2008 | <a href="#">Send email</a></p>
        <p>Our Customer Support phone lines are open:<br> Monday to Sunday: 8am to 8pm</p>
        <p><a href="#">How to complain</a></p>
      </div>
      <div class="footer-column">
        <h4>Follow us on social</h4>
        <div class="social-icons">
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
        <h4>Download our App</h4>
        <button class="download-btn">Download</button>
      </div>
    </div>

    <div class="footer-bottom">
      <p>
        <a href="#">Privacy Policy</a> | 
        <a href="#">Terms of Use</a> | 
        <a href="#">Cookie Preferences</a>
      </p>
      <p>This website is operated by The Gift Voucher Shop Limited...</p>
    </div>
  </div>
</footer>
