.hero-section {
  background-color: #fff;
  padding: 50px 0;
  
  h1 {
    font-size: 3.5rem !important;
    font-weight: bolder;
    color: #002D47;
  }

  p {
    font-size: 1rem;
    color: #819DAD;
  }

  .span{
    color: #0063F5; 
  }

  img {
    max-width: 100%;
    height: auto;
    position: relative;
    bottom: 50px;
  }
  
  @media (max-width: 768px) {
    text-align: center;
  }
}
