<div class="hero-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <!-- Home (not bold) | Digital Rewards for Business (bold) -->
        <p class="fs-6">
          <a routerLink="/home" class="text-decoration-none text-dark" style="color: #2C2A2A !important;">Home</a> |
          <span class="fw-bold span">Digital Rewards for Business</span>
        </p>

        <!-- Increased font size for the main heading -->
        <h1 class="fs-2 fw-bold">Naija Gift card <span class="span">digital corporate gift card</span></h1>

        <p>
          Naija Gift Cards are the fastest and most convenient way to reward the people that matter most. Delivered and redeemed electronically, they serve as a digital alternative to physical gift cards, usable across a wide range of top Nigerian brands and services. Whether for shopping, dining, or entertainment, recipients can enjoy seamless transactions via mobile devices. With same-day delivery and customizable options, Naija Gift Cards are the perfect choice for corporate rewards, customer appreciation, and special occasions.
        </p>
        
      </div>
      <div class="col-lg-6">
        <img src="../../../assets/images/homeGift.jpg" alt="One4all digital gift cards" class="img-fluid" />
      </div>
    </div>
  </div>
</div>
