<div class="container mt-5">
    <div class="row align-items-center justify-content-center">
      <!-- Left Column (Takes More Space) -->
      <div class="col-lg-8 col-md-7 col-12 text-center text-md-start">
        <div class="content-left p-4">
          <h3 class="mb-3">Have a bigger budget?</h3>
          <p class="mb-4">
            If you are looking to purchase a card up to ₦5,000, you can purchase our
            Chip & PIN Gift Card
          </p>
          <button class="btn btn-primary btn-lg">Buy Now</button>
        </div>
      </div>
  
      <!-- Right Column (Floating Image) -->
      <div class="col-lg-4 col-md-5 col-12 text-center mt-4 mt-md-0">
        <img
          src="../../../assets/images/budget.jpg"
          alt="Gift Card"
          class="img-fluid floating-img"
        />
      </div>
    </div>
  </div>
  