<section class="rewards-section">
  <div class="rewards-container">

    <div class="reward-box">
      <img src="../../../assets/images/dis_gift.jpg" alt="Quick & easy to distribute">
      <h3>Quick & easy to distribute</h3>
      <p>Need to send gift cards fast? Naija Digital Gift card can be sent and received on the same day. 
         So you can wave postal headaches and shipping costs goodbye and effortlessly reach your employees 
         and customers anytime, anywhere. Whether you need to send digital cards to 10 or 10,000 people, 
         our electronic dispatch always delivers.</p>
    </div>

    <div class="reward-box">
      <img src="../../../assets/images/impression.jpg" alt="Leave a lasting impression" style="width: 100% !important;">
      <h3>Leave a lasting impression</h3>
      <p>Ensure your recipients remember your brand every time they shop by adding your own card designs, 
         logo, branding, photos, or videos to our digital gift cards. After all, personalized marketing 
         with custom rewards is a great way to go the extra mile and strengthen employee engagement, 
         employee retention, and customer relationships with your brand.</p>
    </div>

    <div class="reward-box">
      <img src="../../../assets/images/smile.jpg" alt="Big rewards. Big smiles">
      <h3>Big rewards. Big smiles</h3>
      <p>High-value gift cards have a high impact on customer and employee satisfaction. That's why our 
         flexible digital gift card range lets you load any amount from ₦10k to ₦20k. Whether making small 
         gestures for user feedback or big thank you’s for career milestones, with Naija Digital 
         incentives your customer satisfaction and employee retention are taken care of.</p>
    </div>

  </div>
</section>
