<section class="how-to-buy">
  <h2>How to buy One4all Digital Gift Cards</h2>

  <div class="options">
    <!-- Assisted Ordering -->
    <div class="option">
      <div class="icon">
        <i class="fa-solid fa-headphones fa-5x"></i>
      </div>
      <h3>Assisted Ordering</h3>
      <p>
        Best for larger orders <strong>over £2K</strong>, for 
        <strong>custom card designs or video messaging.</strong>  
        Our experts are on hand to help you with your order.  
        Simply fill in the form or call us on 
      tel:+442076082008"
      </p>
      <button class="btn contact">Contact Sales</button>
    </div>

    <!-- Order Online -->
    <div class="option">
      <div class="icon">
        <i class="fa-regular fa-credit-card fa-5x"></i>
      </div>
      <h3>Order Online</h3>
      <p>
        Ideal for orders <strong>less than £2K</strong>.  
        Simple, fast ordering and fulfillment on our digital shop.  
        <em>No custom gift card designs or video messaging</em>  
        are possible when ordering online at  
        Shop.One4allrewards.co.uk
        
      </p>
      <button class="btn shop">Shop Now</button>
    </div>
  </div>
</section>
