<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <img src="../../../assets/images/giftcard.jpg" alt="Naija digital gift cards" class="img-fluid" />
          </div>
      <div class="col-lg-6">
       

        <!-- Increased font size for the main heading -->
        <h6 class="fs-2 fw-bold" style="color: #002D47; margin: 20px;">Corporate Gift Cards: <span class="span">The perfect reward for your customers and employees</span></h6>

        <p style="margin: 20px;">
          Instant, customised & reloadable rewards - straight to your recipient's inbox

          Imagine being able to instantly react to a business situation by sending a thank you, congratulations or a ‘sorry we let you down’ gift card straight away. Well, that’s exactly what our Naija Digital Rewards do!
          
          You can customise each digital gift card with any text or video message you want, and reload it too if it’s a reward that has the potential to be distributed time and time again. What’s more, you can do this at any scale - whether you need one reward or one million rewards. Now that’s rewarding made easy! 
        </p>
        <br>
        <!-- <button >Order Digital</button> -->
      </div>
    </div>
  </div>