<div class="container">
  <div class="content">
    <h1 style="font-size: 60px">
      The one corporate gift card <span class="span">that does it all</span>
    </h1>
    <h3>
      Make your employees and customers smile with our fully scalable Naija Gift
      Card for business.
    </h3>
    <br />
    <button (click)="talkToTeam()">Talk to Our Team</button>
  </div>
  <div class="video-container">
    <iframe
      src="https://www.youtube.com/embed/YOUR_VIDEO_ID"
      frameborder="0"
      allowfullscreen
    >
    </iframe>
  </div>
</div>

<br /><br />

<div class="hero-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <!-- Increased font size for the main heading -->
        <h6 class="fs-2 fw-bold" style="color: #002d47">Naija Gift Card</h6>

        <p>
          Instant, customised & reloadable rewards - delivered straight to your
          recipient's inbox Imagine being able to instantly respond to a
          business situation by sending a thank you, congratulations, or an
          apology gift card right away. That’s exactly what Naija Digital Gift
          Cards do! You can customise each digital gift card with any text or
          video message of your choice, and even reload it if it’s a reward you
          plan to give multiple times. What's more, you can do this at any scale
          – whether you need one reward or one million rewards. Naija Digital
          Gift Cards make rewarding your staff and clients easy!
        </p>

        <br />
        <button>Order Digital</button>
      </div>
      <div class="col-lg-6">
        <img
          src="../../../assets/images/employee/employee_rewards.jpg"
          alt="Naija digital gift cards"
          class="img-fluid"
        />
      </div>
    </div>
  </div>
</div>
<div class="favourites-section">
  <div class="favourites-card">
    <h2>Naija Gift Card <span class="span">Favorites</span></h2>
    <p>
      Plus, to help take the guesswork out of gifting, our Naija Gift Card
      Favorites range groups popular brands into themed gift cards, so that you
      can give them a gift as unique as them.
    </p>

    <div class="favourites-images">
      <div class="image-row">
        <a href="#">
          <img src="../../../assets/images/gift_12.jpg" alt="Brand 1" />
        </a>
        <a href="#">
          <img src="../../../assets/images/gift_10.jpg" alt="Brand 2" />
        </a>
        <a href="#">
          <img src="../../../assets/images/physical_giftcard/birthday.jpg" alt="Brand 3" />
        </a>
        <a href="#">
          <img src="../../../assets/images/gift13.jpg" alt="Brand 4" />
        </a>
        <a href="#">
          <img src="../../../assets/images/gift_9.jpg" alt="Brand 5" />
        </a>
      </div>

      <div class="image-row">
        <a href="#">
          <img src="../../../assets/images/gift_card.jpg" alt="Brand 6" />
        </a>
        <a href="#">
          <img src="../../../assets/images/physical_giftcard/taxfree.jpg" alt="Brand 7" />
        </a>
        <a href="#">
          <img src="../../../assets/images/physical_giftcard/blackcard.jpg" alt="Brand 8" />
        </a>
        <a href="#">
          <img src="../../../assets/images/budget.jpg" alt="Brand 9" />
        </a>
        <a href="#">
          <img src="../../../assets/images/gift14.jpg" alt="Brand 10" />
        </a>
      </div>
    </div>

    <button (click)="orderFavourites()" style="margin: 50px;">Order Favourites</button>

    <div class="bottom-image">
      <img src="../../../assets/images/dis_gift.jpg" alt="Extra Image" />
    </div>
  </div>
</div>

<div class="testimonial-container">
  <div class="testimonial-card">
    <p class="testimonial-text">
      Mr. Felix's long service awards require time and precision in ordering.
      Naija gift cards are a valuable benefit, and our account manager is
      consistently helpful and efficient.”
    </p>
  </div>
</div>

<section class="rewards-section">
  <div class="rewards-container">
    <div class="reward-box">
      <i class="fa-solid fa-gift fa-5x"></i> <br /><br />
      <h3>One gift, thousands of choices.</h3>
      <p>
        Life's boring without choice. That's why Naija Gift Cards are a
        multi-store gift card that can be spent in-store and online at over 180
        of the nation's best loved brands.
      </p>
    </div>

    <div class="reward-box">
      <i class="fa-brands fa-algolia fa-5x"></i> <br /><br />
      <h3>Display your corporate pride.</h3>
      <p>
        Our customised designs let you enhance the link between your company and
        the reward by adding your branding, design, photos, or anything you’d
        prefer!.
      </p>
    </div>

    <div class="reward-box">
      <i class="fa-solid fa-people-carry-box fa-5x"></i><br /><br />
      <h3>Get personal. Show you care.</h3>
      <p>
        Don't just send it, say it! Transformyour reward into a meaningful
        gesture that gives the recipient a warm glow with a personalised gift
        message or short video. Contact our team using the form to personalise
        rewards.
      </p>
    </div>
  </div>
</section>

<section class="rewards-section">
  <div class="rewards-container">
    <div class="reward-box">
      <i class="fa-solid fa-truck fa-5x"></i> <br /><br />
      <h3>Instant Delivery. Seamless Experience.</h3>
      <p>
        Send Naija Gift Cards instantly with flexible load options, perfect for
        any occasion. Fast, reliable, and tailored to your needs.
      </p>
    </div>

    <div class="reward-box">
      <i class="fa-solid fa-star fa-5x"></i> <br /><br />
      <h3>Here for You, Here for Them.</h3>
      <p>
        Our support team is just a call away, ready to help you choose and send
        the best gift cards. We’re committed to making gifting easy and
        enjoyable for everyone.
      </p>
    </div>

    <div class="reward-box">
      <i class="fa-solid fa-id-card-clip fa-5x"></i><br /><br />
      <h3>Secure. Reliable. Trusted.</h3>
      <p>
        Naija Gift Cards are safe and secure, backed by trusted payment systems,
        ensuring your transactions and data are always protected.
      </p>
    </div>
  </div>
</section>
<br />

<button style="display: block; margin: auto">Talk to an expert today</button>
<br /><br />

<div class="hero-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <!-- Increased font size for the main heading -->
        <h6 class="fs-2 fw-bold" style="color: #002d47">
          Gift Naija Gift Cards to <span class="span">Employees Tax-Free</span>
        </h6>
        <br />

        <p>
          Want to treat your staff tax-free? We're here to help. HMRC's Trivial
          Benefits scheme lets you give every employee a tax-free gift so long
          as you match the below criteria:
        </p>
        <br />

        <ul style="color: #819dad">
          <li>it costs you £50 or less to provide</li>
          <li>it isn’t cash or a cash voucher</li>
          <li>it isn’t a reward for their work or performance</li>
          <li>it isn’t in the terms of their contract</li>
        </ul>

        <br />

        <p>
          Not only does treating your staff tax-free in the form of a One-4-all
          multi-store gift card up to the value of £50 qualify as a trivial
          benefit, but it can also save you up to 32.5% per trivial benefit with
          zero national insurance or tax.
        </p>
        <br />
        <button>Find out more</button>
      </div>
      <div class="col-lg-6">
        <img
          src="../../../assets/images/employee/giftcard_designs.jpg"
          alt="Naija digital gift cards"
          class="img-fluid"
        />
      </div>
    </div>
  </div>
</div>

<app-digital-options></app-digital-options>
