<div class="container">
  <div class="content">
    <h1 style="font-size: 60px;">The one corporate gift card that does it all</h1>
    <h3>Make your employees and customers smile with our fully scalable One4all Rewards for business.</h3>
    <br>
    <button (click)="talkToTeam()">Talk to Our Team</button>
  </div>
  <div class="video-container">
    <iframe 
      src="https://www.youtube.com/embed/YOUR_VIDEO_ID" 
      frameborder="0" 
      allowfullscreen>
    </iframe>
  </div>
</div>

<br><br>

<div class="hero-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
       

        <!-- Increased font size for the main heading -->
        <h6 class="fs-2 fw-bold">One4all Digital</h6>

        <p>
          Instant, customised & reloadable rewards - straight to your recipient's inbox

          Imagine being able to instantly react to a business situation by sending a thank you, congratulations or a ‘sorry we let you down’ gift card straight away. Well, that’s exactly what our One4all Digital Rewards do!
          
          You can customise each digital gift card with any text or video message you want, and reload it too if it’s a reward that has the potential to be distributed time and time again. What’s more, you can do this at any scale - whether you need one reward or one million rewards. Now that’s rewarding made easy! 
        </p>
        <br>
        <button >Order Digital</button>
      </div>
      <div class="col-lg-6">
        <img src="../../../assets/images/gift_4.jpg" alt="One4all digital gift cards" class="img-fluid" />
      </div>
    </div>
  </div>
</div>
<div class="favourites-section">
  <div class="favourites-card">
    <h2>One4all Favourites</h2>
    <p>
      Plus, to help take the guesswork out of gifting, our One4all Favourites range groups 
      popular brands into themed gift cards, so that you can give them a gift as unique as them.
    </p>

    <div class="favourites-images">
      <div class="image-row">
        <a href="#">
          <img src="../../../assets/images/gift_1.jpg" alt="Brand 1">
        </a>
        <a href="#">
          <img src="../../../assets/images/gift_1.jpg" alt="Brand 2">
        </a>
        <a href="#">
          <img src="../../../assets/images/gift_1.jpg" alt="Brand 3">
        </a>
        <a href="#">
          <img src="../../../assets/images/gift_1.jpg" alt="Brand 4">
        </a>
        <a href="#">
          <img src="../../../assets/images/gift_1.jpg" alt="Brand 5">
        </a>
      </div>

      <div class="image-row">
        <a href="#">
          <img src="../../../assets/images/gift_1.jpg" alt="Brand 6">
        </a>
        <a href="#">
          <img src="../../../assets/images/gift_1.jpg" alt="Brand 7">
        </a>
        <a href="#">
          <img src="../../../assets/images/gift_1.jpg" alt="Brand 8">
        </a>
        <a href="#">
          <img src="../../../assets/images/gift_1.jpg" alt="Brand 9">
        </a>
        <a href="#">
          <img src="../../../assets/images/gift_1.jpg" alt="Brand 10">
        </a>
      </div>
    </div>

    <button (click)="orderFavourites()">Order Favourites</button>

    <div class="bottom-image">
      <img src="../../../assets/images/gift_2.jpg" alt="Extra Image">
    </div>
  </div>
</div>

<div class="testimonial-container">
  <div class="testimonial-card">
    <p class="testimonial-text">
      “wagamama's long service awards require time and precision in ordering. One4all multi-brand gift cards are a valuable benefit, and our account manager is consistently helpful and efficient.”
    </p>
  </div>
</div>



<section class="rewards-section">
  <div class="rewards-container">

    <div class="reward-box">
      <i class="fa-solid fa-gift fa-5x"></i> <br><br>
      <h3>One gift,
        thousands of choices.</h3>
      <p>Life's boring without choice. That's why One4all Gift Cards are a multi-store gift card that can be spent in-store and online at over 180 of the nation's best loved brands.</p>
    </div>

    <div class="reward-box">
      <i class="fa-brands fa-algolia fa-5x"></i> <br><br>
      <h3>Display your
        corporate pride.</h3>
      <p>Our customised designs let you enhance the link between your company and the reward by adding your branding, design, photos, or anything you’d prefer!.</p>
    </div>

    <div class="reward-box">
      <i class="fa-solid fa-people-carry-box fa-5x"></i><br><br>
      <h3>Get personal.
        Show you care.</h3>
      <p>Don't just send it, say it! Transformyour reward into a meaningful gesture that gives the recipient a warm glow with a personalised gift message or short video. Contact our team using the form to personalise rewards.</p>
    </div>

  </div>
</section>

<section class="rewards-section">
  <div class="rewards-container">

    <div class="reward-box">
      <i class="fa-solid fa-truck fa-5x"></i> <br><br>
      <h3>Fast delivery.
        Flexible options.</h3>
      <p>Build your own army of brand advocates fast with our digital gift cards that can be sent almost instantly with flexible load options from £10to £10k. </div>

    <div class="reward-box">
      <i class="fa-solid fa-star fa-5x"></i> <br><br>
      <h3>We're here for you
        and for them.</h3>
      <p>Your dedicated account manager is a phone call away to help you choose and order the best suited rewards for your business needs. Plus, your recipients get customer care, 7 days a week.</p>
    </div>

    <div class="reward-box">
      <i class="fa-solid fa-id-card-clip fa-5x"></i><br><br>
      <h3>Safe. Secure.
        Protected.</h3>
      <p>One4all is issued by GVSP which is regulated by the Financial Conduct Authority (and we adhere to PCI-DSS standards) so your money, data & funds are protected.</div>

  </div>
</section> <br>
<button style="display: block; margin: auto;">Talk to an expert today</button> <br><br>


<div class="hero-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
       

        <!-- Increased font size for the main heading -->
        <h6 class="fs-2 fw-bold">Gift One4all to Employees Tax-Free</h6> <br>

        <p>
          Want to treat your staff tax-free?
We're here to help.

HMRC's Trivial Benefits scheme lets you give every employee a tax-free gift so long as you match the below criteria:</p>
<br>

<ul>
  <li>it costs you £50 or less to provide</li>
  <li> it isn’t cash or a cash voucher</li>
  <li>it isn’t a reward for their work or performance</li>
  <li>it isn’t in the terms of their contract</li>
</ul>

<br>


<p>Not only does treating your staff tax-free in the form of a One-4-all multi-store gift card up to the value of £50 qualify as a trivial benefit, but it can also save you up to 32.5% per trivial benefit with zero national insurance or tax. </p>
        <br>
        <button >Find out more</button>
      </div>
      <div class="col-lg-6">
        <img src="../../../assets/images/gift_6.jpg" alt="One4all digital gift cards" class="img-fluid" />
      </div>
    </div>
  </div>
</div>


<div class="digital-options">
  <div class="card-container">
    <div class="card" *ngFor="let option of options">
      <div class="image-container">
        <img [src]="option.image" alt="Option Image" />
        <button class="card-button">{{ option.buttonText }}</button>
      </div>
    </div>
  </div>
</div>







