.alert {
  padding: 15px;
  margin: 10px 0;
  border-radius: 4px;
  font-size: 1.1em;
}

.alert.info {
  background-color: #d9edf7;
  color: #31708f;
}

.alert.success {
  background-color: #dff0d8;
  color: #3c763d;
}

.alert.error {
  background-color: #f2dede;
  color: #a94442;
}
