<!-- First section -->
<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <!-- Increased font size for the main heading -->
      <h6 class="fs-2 fw-bold" style="font-size: 50px !important; color: #002D47;">
        Transform Your Customer Experience with <span class="span">Naija Digital Gift Cards</span>
      </h6>
      <h6
        style="
          font-weight: lighter;
          font-size: 20px;
          padding: 10px;
          padding-bottom: 30px;
          color: #002D47;
        "
      >
        Why Choose Naija Digital Gift Cards?
      </h6>

      <p style="color: black">
        Our range of Naija Digital Gift Cards gives your recipients a variety of options to choose from. With both physical and digital cards, plus customizable features, Naija Digital Gift Cards are the perfect choice for enhancing your corporate rewards program.
      </p>
      <br />
      <button><a routerLink="contact">Talk to Us</a></button>
    </div>
    <div class="col-lg-6">
      <img
        src="../../../assets/images/customer/customer_exp.jpg"
        alt="Naija Digital Gift Cards"
        class="img-fluid"
      />
    </div>
  </div>
</div>

<!-- Incentive Programme section starts-->
<section class="incentive-section py-5">
  <div class="container">
    <h2 class="text-center mb-4" style="margin: auto">
      Boost Your Incentive Programme with <span class="span">Naija Digital Gift Cards</span>
    </h2>

    <!-- Row 1 -->
    <div class="row align-items-center mb-4">
      <div class="col-md-6 d-flex justify-content-center">
        <img
          src="../../../assets/images/whyone4all/laughing.jpeg"
          alt="Incentive 1"
          class="img-fluid incentive-img"
        />
      </div>
      <div class="col-md-6">
        <h3 style="font-weight: bolder !important">Employee Rewards</h3>
        <p>
          Rewarding your employees is an investment in productivity and loyalty. 83% of employees report that receiving rewards boosts their work morale. Whether it's a spot reward or celebrating a milestone, Naija Digital Gift Cards are the perfect choice.
        </p>
      </div>
    </div>

    <!-- Row 2 -->
    <div class="row align-items-center mb-4">
      <div class="col-md-6 d-flex justify-content-center">
        <img
          src="../../../assets/images/whyone4all/customer.jpeg"
          alt="Incentive 2"
          class="img-fluid incentive-img"
        />
      </div>
      <div class="col-md-6">
        <h3 style="font-weight: bolder !important">Customer Rewards</h3>
        <p>
          Rewarding your customers with Naija Digital Gift Cards can boost revenue by 105% and improve customer lifetime value by 99%. Whether for loyalty programs, promotions, or making amends, these cards are a game-changer.
        </p>
      </div>
    </div>

    <!-- Row 3 -->
    <div class="row align-items-center mb-4">
      <div class="col-md-6 d-flex justify-content-center">
        <img
          src="../../../assets/images/whyone4all/channel.jpeg"
          alt="Incentive 3"
          class="img-fluid incentive-img"
        />
      </div>
      <div class="col-md-6">
        <h3 style="font-weight: bolder !important">Channel Incentives</h3>
        <p>
          Naija Digital Gift Cards motivate channel partners and resellers, improving your ROI and boosting sales. Reward your partners for their effort and watch your business grow with these easy-to-distribute gift cards.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Incentive Programme section ends-->

<!-- Top Choice Section Starts -->
<div
  class="container"
  style="
    margin-top: 100px;
    background-color: #d7e9e6;
    margin-bottom: 50px;
    border-radius: 10px;
  "
>
  <div class="row">
    <div class="col-lg-6">
      <!-- Increased font size for the main heading -->
      <h6
        class="fs-2 fw-bold"
        style="color: #002D47; padding-top: 60px"
      >
        One Gift, Thousands of Choices with <span class="span">Naija Digital Gift Cards</span>
      </h6>

      <p style="padding-left: 20px; padding: 20px">
        With Naija Digital Gift Cards, there's no need for multiple suppliers. Our
        <strong class="strong"
          >multi-store gift cards can be spent with over 180 top Nigerian and international brands</strong
        >, covering everything from leisure shopping to everyday essentials.
      </p>
      <br />
      <div class="container justify-content-center">
        <button>
          <a routerLink="/physical-giftcard" style="color: white"
            >Buy Physical</a
          >
        </button>
        <button>
          <a routerLink="/contact" style="color: white">Buy Digital</a>
        </button>
      </div>
    </div>

    <div class="col-lg-6">
      <img
        src="../../../../assets/images/giftcard/giftcard2.jpg"
        alt="Naija Digital Gift Cards"
        class="img-fluid"
      />
    </div>
  </div>
</div>
<!-- Top Choice Section Ends -->

<!-- Logo section -->

<section class="brands-section py-5">
  <div class="container text-center">
    <h2 class="mb-4" style="margin: auto">Naija Digital Gift <span class="span">Card Favorites</span></h2>
    <p class="mb-4" style="margin: auto;">
      To make gifting easier, Naija Digital Gift Cards offer themed cards from popular brands, so you can give a thoughtful gift that suits every recipient's taste.
    </p>
    <div class="row">
      <!-- First Row -->
      <div class="col-6 col-md-4 col-lg-2">
        <img
          src="../../../../assets/images/logo/logo1.jpeg"
          alt="Brand 1"
          class="brand-logo img-fluid"
        />
      </div>
      <div class="col-6 col-md-4 col-lg-2">
        <img
          src="../../../../assets/images/logo/logo2.jpeg"
          alt="Brand 2"
          class="brand-logo img-fluid"
        />
      </div>
      <div class="col-6 col-md-4 col-lg-2">
        <img
          src="../../../../assets/images/logo/logo3.jpeg"
          alt="Brand 3"
          class="brand-logo img-fluid"
        />
      </div>
      <div class="col-6 col-md-4 col-lg-2">
        <img
          src="../../../../assets/images/logo/logo4.jpeg"
          alt="Brand 4"
          class="brand-logo img-fluid"
        />
      </div>
      <div class="col-6 col-md-4 col-lg-2">
        <img
          src="../../../../assets/images/logo/logo5.jpeg"
          alt="Brand 5"
          class="brand-logo img-fluid"
        />
      </div>

      <!-- Second Row -->
      <div class="col-6 col-md-4 col-lg-2">
        <img
          src="../../../../assets/images/logo/logo8.jpeg"
          alt="Brand 8"
          class="brand-logo img-fluid"
        />
      </div>
      <div class="col-6 col-md-4 col-lg-2">
        <img
          src="../../../../assets/images/logo/logo9.jpeg"
          alt="Brand 9"
          class="brand-logo img-fluid"
        />
      </div>
      <div class="col-6 col-md-4 col-lg-2">
        <img
          src="../../../../assets/images/logo/logo10.jpeg"
          alt="Brand 10"
          class="brand-logo img-fluid"
        />
      </div>
      <div class="col-6 col-md-4 col-lg-2">
        <img
          src="../../../../assets/images/logo/logo11.jpeg"
          alt="Brand 11"
          class="brand-logo img-fluid"
        />
      </div>
      <div class="col-6 col-md-4 col-lg-2">
        <img
          src="../../../../assets/images/logo/logo12.jpeg"
          alt="Brand 12"
          class="brand-logo img-fluid"
        />
      </div>

      <div class="container justify-content-center">
        <button>
          <a routerLink="/physical-giftcard" style="color: white"
            >Speak to Us About Favorites</a
          >
        </button>
      </div>

      <div class="w-100 image-container">
        <img
          src="../../../assets/images/employee/reasons.jpg"
          alt="Incentive Image"
          class="img-fluid w-100"
        />
      </div>
    </div>
  </div>
</section>

<!-- Logo Section -->
<!-- Employee Rewards Start-->
<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <!-- Increased font size for the main heading -->
      <h6 class="fs-2 fw-bold" style="color: #002D47;">
        Even More Benefits with <span class="span">Naija Digital Gift Cards</span>
      </h6>
      <h6 style="color: #002D47;">The perfect tax-free gift for staff</h6>

      <p class="mb-lg-4">
        Celebrate birthdays, anniversaries, or just show appreciation by giving Naija Digital Gift Cards. Since they’re tax-free for staff, they provide a practical yet thoughtful way to boost morale and satisfaction.
      </p>
    </div>

    <div class="col-lg-6">
      <img
        src="../../../assets/images/free.jpg"
        alt="Employee Benefits"
        class="img-fluid"
        height="60px"
      />
    </div>
  </div>
</div>


<!-- Employee Rewards Start-->
<!-- Simplify Customer Rewards Start -->
<section class="container rewards-section2">
  <div class="row rewards-container2">
    <h2 style="margin: auto">Access to a Dedicated <span class="span">Account Manager</span></h2>

    <div class="col">
      <div class="reward-box2">
        <i class="fas fa-user-tie reward-icon2"></i>
        <h3>Access to a Dedicated Account Manager</h3>
      </div>

      <div class="reward-box2">
        <i class="fas fa-headset reward-icon2"></i>
        <h3>Expert Support for Orders, Account Setup, and Beyond</h3>
      </div>
    </div>

    <div class="col">
      <div class="reward-box2">
        <i class="fas fa-phone-volume reward-icon2"></i>
        <h3>
          Customer Care 7 Days a Week for Cardholders so Your Reputation is
          Protected
        </h3>
      </div>

      <div class="reward-box2">
        <i class="fas fa-shield-alt reward-icon2"></i>
        <h3>Peace of Mind with Fully Protected Funds</h3>
      </div>
    </div>

    <div class="col">
      <div class="reward-box2">
        <i class="fas fa-tasks reward-icon2"></i>
        <h3>Eliminate Admin and Let Us Handle Bulk Distribution</h3>
      </div>

      <div class="reward-box2">
        <i class="fas fa-credit-card reward-icon2"></i>
        <h3>Flexible Payment Options to Help Manage Cash Flow</h3>
      </div>
    </div>

    <div class="container text-center d-flex flex-column align-items-center justify-content-center">
        <p class="fw-light">
          Powered by global rewards specialists <strong>BHN</strong>, One4all does it all so you
          have the freedom to spend time focusing on other areas of your business.
        </p>
      
        <blockquote class="blockquote">
          <p class="fst-italic">
            "We would totally recommend BHN. They have such a wide choice that caters for everyone. Great customer service, fast and efficient."
          </p>
          <footer style="color: #002D47 !important;">Dentsply Sirona</footer>
        </blockquote>
      </div>
      
  </div>
</section>
<!-- Simplify Customer Rewards End -->


<app-digital-options></app-digital-options>