<!-- First section -->
<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <!-- Increased font size for the main heading -->
      <h6 class="fs-2 fw-bold" style="font-size: 50px !important">
        Transform your customer experience with One4all Gift Cards
      </h6>
      <h6
        style="
          font-weight: lighter;
          font-size: 20px;
          padding: 10px;
          padding-bottom: 30px;
        "
      >
        Why Choose One4all Rewards?
      </h6>

      <p style="color: black">
        Our range of multi-retailer One4all Gift Cards puts the choice in their
        hands when gifting employees and customers. With physical and digital
        cards, and options to customize, One4all is all you need to transform
        your corporate rewards programme.
      </p>
      <br />
      <button><a routerLink="contact">Talk to Us</a></button>
    </div>
    <div class="col-lg-6">
      <img
        src="../../../assets/images/gift_2.jpg"
        alt="One4all digital gift cards"
        class="img-fluid"
      />
    </div>
  </div>
</div>

<!-- Incentive  Programme section starts-->
<section class="incentive-section py-5">
  <div class="container">
    <h2 class="text-center mb-4" style="margin: auto">
      Enhance Your Incentive Programme
    </h2>

    <!-- Row 1 -->
    <div class="row align-items-center mb-4">
      <div class="col-md-6 d-flex justify-content-center">
        <img
          src="../../../assets/images/whyone4all/laughing.jpeg"
          alt="Incentive 1"
          class="img-fluid incentive-img"
        />
      </div>
      <div class="col-md-6">
        <h3 style="font-weight: bolder !important">Employee Rewards</h3>
        <p>
          Happy gifting leads to happy employees. 83% told us that receiving
          rewards positively helps their productivity and loyalty.¹ Whether it's
          an on-the-spot reward or to recognize an employee milestone, our gift
          cards are guaranteed to make your employees feel special.
        </p>
      </div>
    </div>

    <!-- Row 2 -->
    <div class="row align-items-center mb-4">
      <div class="col-md-6 d-flex justify-content-center">
        <img
          src="../../../assets/images/whyone4all/customer.jpeg"
          alt="Incentive 2"
          class="img-fluid incentive-img"
        />
      </div>
      <div class="col-md-6">
        <h3 style="font-weight: bolder !important">Customer Rewards</h3>
        <p>
          Like the idea of a 105% increase in annual revenue and a 99%
          improvement in customer lifetime value?² That's what can be achieved
          with rewards-based promotions. So, whether you want to drive
          acquisition and loyalty or compensate when things go wrong, our gift
          cards are the answer.
        </p>
      </div>
    </div>

    <!-- Row 3 -->
    <div class="row align-items-center mb-4">
      <div class="col-md-6 d-flex justify-content-center">
        <img
          src="../../../assets/images/whyone4all/channel.jpeg"
          alt="Incentive 3"
          class="img-fluid incentive-img"
        />
      </div>
      <div class="col-md-6">
        <h3 style="font-weight: bolder !important">Channel Incentives</h3>
        <p>
          When channel partners are given a direct reward for selling your
          product, they will naturally sell more and improve your ROI. For
          quick, effortless, and easy-to-distribute gift cards for channel
          partners, resellers and distributors, you've come to the right place!
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Incentive  Programme section ends-->

<!-- Top Choice Section Starts -->
<div
  class="container"
  style="
    margin-top: 100px;
    background-color: #d7e9e6;
    margin-bottom: 50px;
    border-radius: 10px;
  "
>
  <div class="row">
    <div class="col-lg-6">
      <!-- Increased font size for the main heading -->
      <h6
        class="fs-2 fw-bold"
        style="font-weight: lighter !important; padding-top: 60px"
      >
        One Gift, Thousands of Choices
      </h6>

      <p style="padding-left: 20px; padding: 20px">
        With One4all there's no need to deal with separate suppliers to give
        your recipients more choice. Our
        <strong
          >multi-store gift cards can be spent with over 180 of the best-loved
          brands nationwide and online</strong
        >, covering everything from pleasure shopping to everyday essentials.
      </p>
      <br />
      <div class="container justify-content-center">
        <button>
          <a routerLink="/physical-giftcard" style="color: white"
            >Buy Physical</a
          >
        </button>
        <button>
          <a routerLink="/contact" style="color: white">Buy Digital</a>
        </button>
      </div>
    </div>

    <div class="col-lg-6">
      <img
        src="../../../../assets/images/giftcard/giftcard2.jpg"
        alt="One4all digital gift cards"
        class="img-fluid"
      />
    </div>
  </div>
</div>
<!-- Top Choice Section Ends -->

<!-- Logo section -->

<section class="brands-section py-5">
  <div class="container text-center">
    <h2 class="mb-4" style="margin: auto">One4all Favorites</h2>
    <p class="mb-4">
      Plus, to help take the guesswork out of gifting, our One4all Favourites
      range groups popular brands into themed gift cards, so that you can give
      them a gift as unique as them.
    </p>
    <div class="row">
      <!-- First Row -->
      <div class="col-6 col-md-4 col-lg-2">
        <img
          src="../../../../assets/images/logo/logo1.jpeg"
          alt="Brand 1"
          class="brand-logo img-fluid"
        />
      </div>
      <div class="col-6 col-md-4 col-lg-2">
        <img
          src="../../../../assets/images/logo/logo2.jpeg"
          alt="Brand 2"
          class="brand-logo img-fluid"
        />
      </div>
      <div class="col-6 col-md-4 col-lg-2">
        <img
          src="../../../../assets/images/logo/logo3.jpeg"
          alt="Brand 3"
          class="brand-logo img-fluid"
        />
      </div>
      <div class="col-6 col-md-4 col-lg-2">
        <img
          src="../../../../assets/images/logo/logo4.jpeg"
          alt="Brand 4"
          class="brand-logo img-fluid"
        />
      </div>
      <div class="col-6 col-md-4 col-lg-2">
        <img
          src="../../../../assets/images/logo/logo5.jpeg"
          alt="Brand 5"
          class="brand-logo img-fluid"
        />
      </div>

      <!-- Second Row -->
      <div class="col-6 col-md-4 col-lg-2">
        <img
          src="../../../../assets/images/logo/logo8.jpeg"
          alt="Brand 8"
          class="brand-logo img-fluid"
        />
      </div>
      <div class="col-6 col-md-4 col-lg-2">
        <img
          src="../../../../assets/images/logo/logo9.jpeg"
          alt="Brand 9"
          class="brand-logo img-fluid"
        />
      </div>
      <div class="col-6 col-md-4 col-lg-2">
        <img
          src="../../../../assets/images/logo/logo10.jpeg"
          alt="Brand 10"
          class="brand-logo img-fluid"
        />
      </div>
      <div class="col-6 col-md-4 col-lg-2">
        <img
          src="../../../../assets/images/logo/logo11.jpeg"
          alt="Brand 11"
          class="brand-logo img-fluid"
        />
      </div>
      <div class="col-6 col-md-4 col-lg-2">
        <img
          src="../../../../assets/images/logo/logo12.jpeg"
          alt="Brand 12"
          class="brand-logo img-fluid"
        />
      </div>

      <div class="container justify-content-center">
        <button>
          <a routerLink="/physical-giftcard" style="color: white"
            >Speak to Us About Favorites</a
          >
        </button>
      </div>

      <div class="w-100 image-container">
        <img
          src="../../../assets/images/gift_4.jpg"
          alt="Incentive Image"
          class="img-fluid w-100"
        />
      </div>
    </div>
  </div>
</section>

<!-- Logo Section -->
<!-- Employee Rewards Start-->
<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <!-- Increased font size for the main heading -->
      <h6 class="fs-2 fw-bold" style="font-weight: lighter !important">
        Even More Benefits When UsingOne4all Rewards
      </h6>
      <h6>The perfect tax-free gift for staff</h6>

      <p class="mb-lg-4">
        Whether it's to celebrate a birthday, anniversary, or simply to spread a
        little joy, gifting up to £50 in One4all physical or digital Gift Cards
        gives your employees thousands of choices as they can spend the value in
        a wide range of stores online and in-store.
      </p>

      <p class="mb-4">
        Best of all, under the HMRC's trivial benefits scheme,
        <strong>
          you can gift each of your employees up to £50 completely tax-free </strong
        >. That’s right - a potential saving of up to 35% per trivial benefit
        with zero national insurance or tax. High five!
      </p>
      <br />
      <button>
        <a href="/corporate-rewards/employee-rewards#form">Find Out More</a>
      </button>
    </div>
    <div class="col-md-6 d-flex justify-content-center">
      <img
        src="../../../assets/images/gift_1.jpg"
        alt="One4all digital gift cards"
        class="img-fluid"
      />
    </div>
  </div>
</div>

<!-- Employee Rewards Start-->
<!-- Simplify Customer Rewards Start -->
<section class="container rewards-section2">
  <div class="row rewards-container2">
    <h2 style="margin: auto">Access to a Dedicated Account Manager</h2>

    <div class="col">
      <div class="reward-box2">
        <i class="fas fa-user-tie reward-icon2"></i>
        <h3>Access to a Dedicated Account Manager</h3>
      </div>

      <div class="reward-box2">
        <i class="fas fa-headset reward-icon2"></i>
        <h3>Expert Support for Orders, Account Setup, and Beyond</h3>
      </div>
    </div>

    <div class="col">
      <div class="reward-box2">
        <i class="fas fa-phone-volume reward-icon2"></i>
        <h3>
          Customer Care 7 Days a Week for Cardholders so Your Reputation is
          Protected
        </h3>
      </div>

      <div class="reward-box2">
        <i class="fas fa-shield-alt reward-icon2"></i>
        <h3>Peace of Mind with Fully Protected Funds</h3>
      </div>
    </div>

    <div class="col">
      <div class="reward-box2">
        <i class="fas fa-tasks reward-icon2"></i>
        <h3>Eliminate Admin and Let Us Handle Bulk Distribution</h3>
      </div>

      <div class="reward-box2">
        <i class="fas fa-credit-card reward-icon2"></i>
        <h3>Flexible Payment Options to Help Manage Cash Flow</h3>
      </div>
    </div>

    <div class="container text-center d-flex flex-column align-items-center justify-content-center">
        <p class="fw-light">
          Powered by global rewards specialists <strong>BHN</strong>, One4all does it all so you
          have the freedom to spend time focusing on other areas of your business.
        </p>
      
        <blockquote class="blockquote">
          <p class="fst-italic">
            "We would totally recommend BHN. They have such a wide choice that caters for everyone. Great customer service, fast and efficient."
          </p>
          <footer>Dentsply Sirona</footer>
        </blockquote>
      </div>
      
  </div>
</section>
<!-- Simplify Customer Rewards End -->


<app-digital-options></app-digital-options>