.faq-container {
    max-width: 800px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.faq-title {
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.sort-section {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 15px;
}

.sort-section label {
    font-weight: 600;
    margin-right: 8px;
}

.faq-list a {
    display: flex;
    align-items: center;
    padding: 12px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 6px;
    transition: all 0.3s ease;
    color: #333;
    text-decoration: none;
}

.faq-list a:hover {
    background: #002D47;
    color: #fff;
}

.faq-list i {
    color: #0063F5 !important;
    margin-right: 12px;
    font-size: 18px;
}

.faq-list a:hover i {
    color: #fff;
}