<!-- Employee Rewards Start-->
<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <!-- Increased font size for the main heading -->
      <h6 class="fs-2 fw-bold" style="font-weight: lighter !important">
        Employee rewards: Make work a more rewarding experience
      </h6>
      <h6>Did you know we spend a third of our lives at work?</h6>

      <p>
        That's why One4all is on a mission to make those moments meaningful with
        convenient and customizable employee rewards that can be redeemed at a
        wide variety of 180+ big-name brands, online and in-store. Whether
        recognizing an employee milestone, rewarding an employee performance
        review or marking a work anniversary, showing employee appreciation with
        a One4all Gift Card can turn any day into a special day.
      </p>
      <br />
      <button><a href="/corporate-rewards/employee-rewards#form">Enquire Now</a></button>
      <h6 style="margin-top: 10px">
        Already a gift card holder and need help using your card?
      </h6>
      <p>
        Contact our excellent customer support directly
        <a routerLink="contact">here</a>
      </p>
    </div>
    <div class="col-lg-6">
      <img
        src="../../../assets/images/gift_4.jpg"
        alt="One4all digital gift cards"
        class="img-fluid"
      />
    </div>
  </div>
</div>

<!-- Employee Rewards Start-->

<!-- Employee Appreciation  Start-->
<div class="container" style="margin-top: 100px">
  <div class="row">
    <div class="col-lg-6">
      <img
        src="../../../../assets/images/gift_3.jpg"
        alt="One4all digital gift cards"
        class="img-fluid"
        style="border-radius: 70%"
      />
    </div>

    <div class="col-lg-6">
      <!-- Increased font size for the main heading -->
      <h6
        class="fs-2 fw-bold"
        style="font-weight: lighter !important; padding-top: 60px"
      >
        Employee Appreciation Day Gifts
      </h6>

      <p style="padding-left: 20px">
        Say a big thank you this Employee Appreciation Day –
        <span style="font-weight: bolder">Friday, 7th March</span>
        2025. Celebrate your team’s hard work and fuel their 2025 success with
        One4all Gift Cards. With One4all Corporate Gift Cards, you can give a
        gift that’s as versatile as your team. Accepted online and in-store at
        hundreds of top retailers – including John Lewis, River Island, and
        Boots – it’s the perfect way to say thank you.
      </p>
      <br />
      <div
        class="container justify-content-center"
        style="align-content: center"
      >
        <button style="align-content: center">
          Order Employee Rewards Today
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Employee Appreciation  Ends-->

<!-- Harness Section start -->
<div class="container how-to-buy">
  <h2>Reasons to choose One4all corporate gift cards</h2>

  <div class="container">
    <img src="../../../../assets/images/gift_3.jpg" alt="" />
  </div>
</div>
<!-- Harness Section start -->

<!-- Personalized Videos and Gift Card Designs Section Starts -->
<div class="container" style="margin-top: 100px">
  <div class="row">
    <div class="col-lg-6">
      <img
        src="../../../../assets/images/giftcard/giftcard5.jpg"
        alt="One4all digital gift cards"
        class="img-fluid"
      />
    </div>

    <div class="col-lg-6">
      <!-- Increased font size for the main heading -->
      <h6
        class="fs-2 fw-bold"
        style="font-weight: lighter !important; padding-top: 60px"
      >
        Personalized Videos and Gift Card Designs
      </h6>

      <p style="padding-left: 20px">
        Custom rewards help turn your moments of recognition into positive
        employee experiences. That's why you can add a personal touch with a
        customised gift message of appreciation or personalised video (with
        digital gift cards) for each One4all business gift card you send.
      </p>
      <br />
      <div
        class="container justify-content-center"
        style="align-content: center"
      >
        <button style="align-content: center">
          <a href="" style="color: white">Create Custom Employee Rewards</a>
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Personalized Videos and Gift Card Designs Section Ends -->

<!-- Reward Section Starts -->
<div class="container how-to-buy">
  <h2 style="margin: auto;">Why reward with One4all Gift Cards?</h2>
  <app-reward></app-reward>
</div>
<!-- Reward Section Ends -->

<!-- Reward Section Starts -->
<div class="container how-to-buy">
  <h2  style="margin: auto;">The ideal gift of choice for employees</h2>
  <p>
    With One4all there's no need to guess your employee preferences or give
    generic gifts for employees as they can choose meaningful rewards for
    themselves from a choice of 180+ brands!
  </p>
  <div>
    <app-rewards></app-rewards>
  </div>
</div>
<!-- Reward Section Ends -->


<!-- Reward Employee Starts -->
<!-- Reward Employee Starts -->
<div class="container how-to-buy" style="margin-top: 100px; background-color: #D7E9E6;">
    <h2  style="margin: auto;">Reward your employees tax-free with One4all Rewards</h2>
  
    <div class="row">
      <div class="col-lg-6">
        <img
          src="../../../../assets/images/giftcard/giftcard5.jpg"
          alt="One4all digital gift cards"
          class="img-fluid"
        />
      </div>
  
      <div class="col-lg-6">
        <p style="padding-left: 20px;">
          Thanks to the HMRC Trivial Benefits scheme, you can give employees a tax-free gift.  
          So, what are trivial benefits? To qualify, employee gifts must match the following criteria:
        </p>
        <ul style="padding-left: 40px; margin-top: -10px;">
          <li>It costs you £50 or less to provide</li>
          <li>It isn’t cash or a cash voucher</li>
          <li>It isn’t a reward for their work or performance</li>
          <li>It isn’t in the terms of their contract</li>
        </ul>
        <p style="padding-left: 20px; margin-top: 10px;">
          This means no payroll hassle, no national insurance, and no tax.
        </p>
        <p style="padding-left: 20px;">
          Whether for birthdays, anniversaries, or just to brighten an employee's day,  
          One4all rewards up to the value of £50 are the ultimate choice.  
          They give your staff the freedom to spend in thousands of online and in-person stores  
          and can save you up to 35% per trivial benefit.
        </p>
        <br />
        <div class="container justify-content-center" style="align-content: center">
          <button style="align-content: center">
            <a href="" style="color: white">Create Custom Employee Rewards</a>
          </button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container how-to-buy">
    <img src="../../../../assets/images/gift_7.jpeg" alt="" >
  </div>
<!-- Reward Employee Starts -->

<!-- customer-support.component.html -->
 <app-support></app-support>


<!-- Customer Support section ends -->

<!-- Form grid section starts -->
 <div class="container" id="form">
 <app-form></app-form>
 </div>
<!-- Form grid section end -->

<app-digital-options></app-digital-options>
